<!--HOMEPAGE COMPONENT-->
<section>
    <div class="half-page-image">
        <img src="assets/images/white.svg" class="full-width" height="100%" width="100%">
    </div>
    
    <p class="description">
        Learn how a computer programming language works with fugue!
    </p>

    <div class="description">
        <h2 class="description">What's possible with fugue?</h2>
        <p>Learn how computer systems operating</p>
        <p>Learn how memory is managed</p>
        <p>Learn how command line is used</p>
        <p>Learn how to use a debugger</p>
    </div>



    <br />
</section>

<footer>
    <p>© Fugue. All rights reserved.</p>
</footer>
