<div class="body">
    <div id="editor-container">
        <div id="editor">
            <h2 id="text-editor-name">Text Editor</h2>
            <div *ngIf="showAutoComplete" class="autocomplete">
                <ul>
                  <li *ngFor="let option of autoCompleteOptions" (click)="onAutoCompleteSelect(option)">{{ option }}</li>
                </ul>
            </div>
            <textarea spellcheck="false" #editor (keydown)="onKeydownTab($event)" (input)="updateSource()" class="editor">{{ editorContent }}</textarea>
        </div>
        <div id="console-debugger">
            <div id="console">
                <button (click)="toggleSidebar()" class="toggle-sidebar-btn"> Change Window </button>
                <div class="tab-content" (click)="lastClickedTopOrBottom = true; console.log('top')">
                    <div [ngSwitch]="topActiveTab">
                        <div *ngSwitchCase="'program-output'">
                            <h2>Output</h2>
                            <p [innerHTML]="programOutputHTML"></p>
                        </div>
                        <div *ngSwitchCase="'debugger-state'">
                            <h2>Debugger Log</h2>
                            <p [innerHTML]="debuggerStateHTML"></p>
                        </div>
                        <div *ngSwitchCase="'debugger-control'">
                            <h2>Debugger Control</h2>
                            <p [innerHTML]="debuggerControlHTML"></p>
                        </div>
                        <div *ngSwitchCase="'memory-view'">
                            <h2>Debugger Control</h2>
                            <p [innerHTML]="memoryViewHTML"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="debugger" class="tabs-container">
                <div class="sidebar" [class.open]="isSidebarOpen">
                    <button class="close-sidebar-btn" (click)="closeSidebar()">X</button>
                    <ul>
                        <li class="nav-item">
                            <a class="nav-link" [class.active]="(bottomActiveTab === 'program-output') || (topActiveTab === 'program-output')" (click)="setActiveTab('program-output')">Output</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [class.active]="(bottomActiveTab === 'debugger-output') || (topActiveTab === 'debugger-output')" (click)="setActiveTab('debugger-state')">Debugger State</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [class.active]="(bottomActiveTab === 'debugger-control') || (topActiveTab === 'debugger-control')" (click)="setActiveTab('debugger-control')">Debugger Control</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [class.active]="(bottomActiveTab === 'memory-view') || (topActiveTab === 'memory-view')" (click)="setActiveTab('memory-view')">Memory View</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content" (click)="lastClickedTopOrBottom = false; console.log('bottom')">
                    <div [ngSwitch]="bottomActiveTab">
                        <div *ngSwitchCase="'program-output'">
                            <h2>Output</h2>
                            <p [innerHTML]="programOutputHTML"></p>
                        </div>
                        <div *ngSwitchCase="'debugger-state'">
                            <h2>Debugger Log</h2>
                            <p [innerHTML]="debuggerStateHTML"></p>
                        </div>
                        <div *ngSwitchCase="'debugger-control'">
                            <h2>Debugger Control</h2>
                            <p [innerHTML]="debuggerControlHTML"></p>
                        </div>
                        <div *ngSwitchCase="'memory-view'">
                            <h2>Debugger Control</h2>
                            <p [innerHTML]="memoryViewHTML"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p>© Fugue. All rights reserved.</p>
    </footer>
</div>

