<ng-container *ngIf="!isLogin">
  <header>
    <div class="inner-header"></div>
    <img
      [src]="'assets/images/fugue-high-resolution-logo-white-transparent.png'"
      height="15%"
      width="15%"
      alt="Fugue High Resolution Logo"
    />
    <div class="header-text">
      <span class="word"
        ><a
          routerLink="/"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Home</a
        ></span
      >
      <span class="word"
        ><a
          routerLink="/editor-page"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Text Editor</a
        ></span
      >
      <span class="word">
        <ul class="navigation hide">
          <li>
            <button>Tutorials</button>
            <div class="dropdown">
              <ul class="list-items-with-descriptions">
                <div class="item-title">
                  <h3>Simple Examples</h3>
                  <p (click)="setBeginner()">Beginner</p>
                  <p (click)="setIntermediate()">Intermediate</p>
                </div>
              </ul>
            </div>
          </li>
        </ul>
      </span>
      <span class="word"
        ><a
          routerLink="/documentation"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Documentation</a
        ></span
      >
      
      <!--
      <span class="word">
        <a routerLink="/login-page">Login</a>
      </span>
    -->
    </div>
      <div class="wrapper">
        <!-- Main content goes here -->
      </div>
  </header>
</ng-container>
<router-outlet />
