* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: red;
    color: red;
}

header {
    background-color: darkblue;
    padding: 20px;
    text-align: left; /* Align text to the left */
    display: flex;
    font-family:monospace;
    align-items: center;
    justify-content: space-between;
    position: relative; /* Add relative positioning to the header */
}

h1 {
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
    font-size: 35px;
}

.header-text {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10%;
}

.word {
    color: white;
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s;
    margin-right: 50px;
}

.word:hover {
    background-color: darkblue;
    position: relative;/* Add relative positioning to the word */
    z-index: 1; /* Bring the word to the front to cover the space */
}
html{
    background-color:dimgrey;
}
html, body {
    height: 100%;
    background-color: dimgrey;
    color: white; /* Set text color to white */
    font-family: Arial, sans-serif;
}

.navigation {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    gap: 0.5rem;
    background: var(--background);
}

.navigation > li {
    display: flex;
    position: relative;
    cursor: pointer;
    align-items: center;
    height: 2.625rem;
}

.navigation > li > a {
    color: var(--white);
    font-size: 0.875rem;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.navigation > li > button {
    color: var(--white);
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-weight: 500;
    gap: 0.25rem;
    opacity: 1;
    align-items: center;
    font-size: 0.875rem;
    flex-wrap: nowrap;
    white-space: nowrap;
    background: none;
    display: flex;
    padding: 0.185rem 0;
    position: relative;
}

.dropdown {
    position: absolute;
    top: 2.625rem;
    min-width: 15rem;
    border-radius: 0.5rem;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    flex-direction: column;
    padding: 1rem;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3), 0 0 1px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 2;
    animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.99) translateY(-0.7rem);
        transform-origin: top;
    }
    to {
        opacity: 1;
        transform: scale(1) translateY(0);   
    }
}

.dropdown h3 {
    font-size: 0.875rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: var(--white); 
}

.list-menu-items {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    gap: 0.25rem;
}

.list-menu-items > li > a {
    display: flex;
    gap: 1rem;
    font-size: 0.875rem;
    width: 100%;
    color: var(--gray);
    text-decoration: none;
}

.list-menu-items > li > a:hover {
    color: var(--primary);
}

.list-menu-items-with-descriptions {
    list-style-type: none;
}

.list-menu-items-with-descriptions li {
    display: flex;
    padding: 0.25rem;
    gap: 1rem;
    width: 100%;
}

.list-menu-items-with-descriptions li:hover {
    color: var(--primary);
}

.item-title h3 {
    font-size: 0.875rem;
    font-weight: 600;
}

.item-title p {
    font-size: 0.75rem;
}

.navigation > li:hover .dropdown {
    display: flex;
    opacity: 1;
}
